.modal-static {
    position: static;
    display: block !important; 
    z-index: 1;
}

.modal-content {
    border-radius: 0;
    max-width: 100%;
    max-height: 100vh;
    overflow-y: auto; 
}

body {
    background-color: #e3f2fd !important;
    font-family: Arial, sans-serif;
    color: #333;
}

